<!-- <div id="header">
  <img src="../../../../../../assets/logos/white_blue_text_only.png" id="logo" />
</div>
<div class="space"></div>
<div *ngFor="let section of catalog.catalogSections">
  <div class="category-title title-color">
    {{ section.category | uppercase }}
  </div>
  <div class="scrolling-wrapper">
    <div *ngFor="let item of section.menuItems" style="display: inline;">
      <ng-container *ngIf="item.image">
        <a class="card full-background" (click)="loadItem(item)" [routerLink]="item.id" [ngStyle]="{
          'background-image': 'url(' + item.image.url + ')'
        }">
          <div class="item-name">
            {{ item.name }}
          </div>
          <div class="price">{{ item.price | currency }}</div>
        </a>
      </ng-container>

      <ng-container *ngIf="!item.image">
        <a class="card card-background default-item-background shadow" (click)="loadItem(item)" [routerLink]="item.id">
          <div class="item-name">
            {{ item.name }}
          </div>
          <div class="price">{{ item.price | currency }}</div>
        </a>
      </ng-container>
    </div>
    <div class="space"></div>
  </div>
</div>
<div id="space-for-nav"></div> -->
