<div *ngIf="item">
  <div
    id="full-page"
    [ngStyle]="{ 'background-image': 'url(' + item.image.url + ')' }"
    *ngIf="item"
  ></div>
  <div id="summary-card">
    <a id="back-button" routerLink="../">
      <mat-icon>arrow_back_ios</mat-icon>
    </a>
    <div id="title" *ngIf="item">
      {{ item.name }}
    </div>
    <table id="price" class="theme-color-text">
      <tr>
        <td id="dollars">${{ priceDollars }}.</td>
        <td id="cents">
          {{ priceCents }}
        </td>
      </tr>
    </table>
  </div>

  <mat-accordion
    id="options-card-2"
    *ngIf="item.modifierLists && item.modifierLists.length > 0"
  >
    <mat-expansion-panel id="panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div id="options-card-title">
            Options
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="scrolling-wrapper">
        <div
          class="modifier-list"
          *ngFor="let modList of item.modifierLists"
        >
          <a
            class="modifier-list-image"
            (click)="selectedModifierList = modList"
            [ngStyle]="{ 'background-image': 'url(' + modList.image.url + ')' }"
            [class.selected]="selectedModifierList == modList"
          >
            <div class="name">{{ modList.name }}</div>
          </a>
        </div>
      </div>

      <app-mod-list-details [modList]="selectedModifierList" (selectionMade)="addToPrice($event)"></app-mod-list-details>
    </mat-expansion-panel>
  </mat-accordion>
  <div
    id="button-wrapper"
    *ngIf="item.modifierLists && item.modifierLists.length == 0"
    style="background-color: rgba(0, 0, 0, 0);"
  >
    <button
      mat-raised-button
      id="add-to-order"
      color="primary"
      (click)="addToOrder()"
    >
      Add to Order {{totalItemPrice | currency}}
    </button>
  </div>
  <div
    id="button-wrapper"
    *ngIf="item.modifierLists && item.modifierLists.length > 0"
  >
    <button
      mat-raised-button
      id="add-to-order"
      color="primary"
      (click)="addToOrder()"
       [disabled]="(orderState$ | async) == 'PLACED' || !timesAvailable && false"
      >

      <span *ngIf="(orderState$ | async) != 'PLACED' && timesAvailable || true"
        >Add to Order {{totalItemPrice | currency}}</span
      >
      <mat-icon *ngIf="(orderState$ | async) == 'PLACED' || !timesAvailable && false"
        >lock</mat-icon
      >
    </button>
  </div>
</div>
