<div class="center-text" id="no-order">
  <div id="no-order-wrapper">
    <div id="no-order-image" class="card-background">
      <i
        class="material-icons-outlined theme-color"
        style="font-size: 110px; width: 110px; height: 110px;"
        >remove_shopping_cart
      </i>
    </div>
    <div id="no-order-content" class="subtitle-color">
      <div>Looks like you haven't added <br />anything to your order yet</div>
      <button
        mat-raised-button
        color="primary"
        routerLink="../menu"
        class="check-button"
      >
        START ORDER
      </button>
    </div>
  </div>
</div>
