<div class="center-text" id="no-order">
    <div id="no-order-wrapper">
        <div id="no-order-image">
            <mat-icon style="font-size: 150px; color: #a4d9fd; width: 150px; height: 150px;">shopping_basket</mat-icon>
        </div>
        <div id="no-order-content">
            <div>

                Looks like you haven't started an order yet
            </div>
            <div class="">
                TAP THE MENU TO START ORDERING
            </div>
        </div>
    </div>
</div>