<div class="content">
    <div class="header">
        <button mat-icon-button id="back-to-menu" routerLink="..">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span class="title">Hours of Operation</span>
    </div>
</div>

<div class="day-card">
    <div class="topline">
        <span class="name">Monday</span>
        <button mat-icon-button color="primary" class="add" (click)="selectHours('Monday');">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="block" *ngFor="let block of cafeHours.mondayBlocks" matRipple (click)="editBlock(block);">
        {{block.open}} - {{block.close}}
    </div>
</div>

<div class="day-card">
    <div class="topline">
        <span class="name">Tuesday</span>
        <button mat-icon-button color="primary" class="add" (click)="selectHours('Tuesday');">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="block" *ngFor="let block of cafeHours.tuesdayBlocks">
        {{block.open}}
    </div>
</div>

<div class="day-card">
    <div class="topline">
        <span class="name">Wednesday</span>
        <button mat-icon-button color="primary" class="add" (click)="selectHours('Wednesday');">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="block" *ngFor="let block of cafeHours.wednesdayBlocks">
        {{block.open}}
    </div>
</div>

<div class="day-card">
    <div class="topline">
        <span class="name">Thursday</span>
        <button mat-icon-button color="primary" class="add" (click)="selectHours('Thursday');">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="block" *ngFor="let block of cafeHours.thursdayBlocks">
        {{block.open}}
    </div>
</div>

<div class="day-card">
    <div class="topline">
        <span class="name">Friday</span>
        <button mat-icon-button color="primary" class="add" (click)="selectHours('Friday');">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="block" *ngFor="let block of cafeHours.fridayBlocks">
        {{block.open}}
    </div>
</div>

<div class="day-card">
    <div class="topline">
        <span class="name">Saturday</span>
        <button mat-icon-button color="primary" class="add" (click)="selectHours('Saturday');">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="block" *ngFor="let block of cafeHours.saturdayBlocks">
        {{block.open}}
    </div>
</div>

<div class="day-card">
    <div class="topline">
        <span class="name">Sunday</span>
        <button mat-icon-button color="primary" class="add" (click)="selectHours('Sunday');">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="block" *ngFor="let block of cafeHours.sundayBlocks">
        {{block.open}}
    </div>
</div>

<button mat-raised-button color="primary" id="apply-standard-hours" (click)="setStandardTimes();">Standard</button>