.time {
    border: none;
    outline: none;
    max-width: 45%;
    height: 40px;
    font-size: 2em;
}

.day {
  margin: 0 0 5px;
}

.hour {
    padding-right: 5px;
}

.minutes {
    padding-left: 5px;
}

.time-wrapper {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.control-container {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 4em;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    outline: none;
    text-align: center;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .4);
}

.spacer {
    width: 1em;
    text-align: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    outline: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:hover {
    background-color: #007bff;
    color: white;
}

.btn:focus {
    color: #007bff;
    border-color: #007bff;
    background-color: white;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .4);

}

.btn-outline {
    color: #007bff;
    border-color: #007bff;
}

.invalid {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, .3);
}
