<div mat-dialog-title>{{data.day}}</div>

<!-- <div class="open">
    <mat-form-field>
        <mat-label>Open</mat-label>
        <mat-select #open [value]="data.open">
            <mat-optgroup [label]="amHours.section">
                <mat-option [value]="time" *ngFor="let time of amHours.hours">{{time}}</mat-option>
            </mat-optgroup>
            <mat-optgroup [label]="pmHours.section">
                <mat-option [value]="time" *ngFor="let time of pmHours.hours">{{convertTime(time)}}</mat-option>
            </mat-optgroup>
        </mat-select>

    </mat-form-field>

</div>

<div class="close">
    <mat-form-field>
        <mat-label>Close</mat-label>
        <mat-select #close [value]="data.close">
            <mat-optgroup [label]="amHours.section">
                <mat-option [value]="time" *ngFor="let time of amHours.hours" [disabled]="!isAfter(open.value, time)">
                    {{time}}</mat-option>
            </mat-optgroup>
            <mat-optgroup [label]="pmHours.section">
                <mat-option [value]="time" *ngFor="let time of pmHours.hours">{{convertTime(time)}}</mat-option>
            </mat-optgroup>
        </mat-select>

    </mat-form-field>
</div> -->
<div class="open">

    <div class="control-container">
        <button mat-icon-button color="primary">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <input inputmode="numeric" class="form-control" maxlength="2" placeholder="HH">
        <button mat-icon-button color="primary">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>
    <div>:</div>
    <div class="control-container">
        <button mat-icon-button color="primary">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        <input inputmode="numeric" class="form-control" maxlength="2" placeholder="MM">
        <button mat-icon-button color="primary">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </div>
    <button class="btn">AM</button>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" (click)="cancel();">Cancel</button>
    <button mat-raised-button color="primary" (click)="add(open.value, close.value);"
        [disabled]="open.value == '' || close.value == ''">Add</button>
</div>