<div mat-dialog-title>{{data.day}}</div>
<div class="time-wrapper">
    <div class="control-container">
        <input inputmode="numeric" class="form-control" maxlength="2" placeholder="HH" #openHour
            (keyup)="validateHour(openTime, openHour.value);" (blur)="formatHour(openTime, openHour.value);"
            [(ngModel)]="openTime.hour" [class.invalid]="!openHourValid">

    </div>
    <div class="spacer">:</div>
    <div class="control-container">

        <input inputmode="numeric" class="form-control" maxlength="2" placeholder="MM" #openMinutes
            (blur)="formatMinutes(openTime, openMinutes.value);" [(ngModel)]="openTime.minutes">
    </div>
    <div class="control-container">
        <button class="btn btn-outline" (click)="togglePeriod(openTime);">{{openTime.period}}</button>
    </div>
</div>

<div class="time-wrapper">
    <div class="control-container">
        <input inputmode="numeric" class="form-control" maxlength="2" placeholder="HH" #closeHour
            (blur)="formatHour(closeTime, closeHour.value);" [(ngModel)]="closeTime.hour"
            [class.invalid]="!closeHourValid">
    </div>
    <div class="spacer">:</div>
    <div class="control-container">

        <input inputmode="numeric" class="form-control" maxlength="2" placeholder="MM" #closeMinutes
            (blur)="formatMinutes(closeTime, closeMinutes.value);" [(ngModel)]="closeTime.minutes">
    </div>
    <div class="control-container">
        <button class="btn btn-outline" (click)="togglePeriod(closeTime);">{{closeTime.period}}</button>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" (click)="cancel();">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="(!(openHourValid && closeHourValid)) ||
        (!closeTime.hour)  || (!openTime.hour)" (click)="submit();">Submit</button>
</div>