.header {
  position: sticky;
  width: 100%;
  /* border-bottom: 1px solid#353535; */
  margin-bottom: 20px;
}

#back-to-menu {
  color: #49c9f2;
  padding-left: 10px;
}

.action-group {
  margin: 20px 0px 0px 0px;
}

.action {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.description {
  padding: 10px 25px;
  font-size: .85em;
}

.dark-theme .mat-select-arrow {
  color: white !important;
}

.interval {
  text-align: right;
  max-width: 100px;
}

.dark-theme .mat-select-value {
  color: #e1e1e1;
}

.light-theme .mat-select-value {
  color: #1e1e1e;
}
