<div class="name">
  {{modifierList.name}}
</div>

<div *ngIf="modifierList.selectionType != 'MULTIPLE'" class="scrolling-wrapper">
  <app-single-selection-group [modifierList]="modifierList" (selectionMade)="selectionMade($event)"
    [on]="modifierInListAlreadySelected(modifierList)">

  </app-single-selection-group>

</div>


<div *ngIf="modifierList.selectionType == 'MULTIPLE'" class="scrolling-wrapper">
  <ng-container *ngFor="let modifier of modifierList.modifiers">

    <app-multiple-selector [modifier]="modifier" [on]="alreadySelected(modifier)"
      (selectionMade)="selectionMade($event)" [disabled]="!modifier.inStock"></app-multiple-selector>
  </ng-container>
</div>
