<div class="title">
    CAFE HOURS
</div>

<div class="panel hours">
    <table class="full-width">
        <tr>
            <td class="day">
                FRIDAY
            </td>
            <td>
                :
            </td>
            <td class="hours">
                7:00 - 10:00
            </td>
        </tr>

        <tr>
            <td class="day">
                SATURDAY
            </td>
            <td>
                :
            </td>
            <td class="hours">
                7:00 - 10:00
            </td>
        </tr>

        <tr>
            <td class="day">
                SUNDAY
            </td>
            <td>
                :
            </td>
            <td class="hours">
                7:00 - 10:00
            </td>
        </tr>
    </table>
</div>

<div class="title">
    VERSE OF THE DAY
</div>
<table class="votd panel" [ngClass]="color">
    <tr>
        <td matRipple matRippleColor="rgba(100, 100, 100, .1)"
            (click)="decrementDay(); fetchVerseByDate(userSelectedDate);">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </td>
        <td>
            <div class="verse">
                {{verse}}
            </div>
            <div class="bottom">

                <div class="actions">
                    <mat-icon style=" font-size: 20px;" matRipple matRippleColor="rgba(100, 100, 100, .1)"
                        (click)="resetDay();">refresh
                    </mat-icon>
                </div>
                <div class="passage">
                    {{passage}}
                </div>
            </div>
        </td>
        <td matRipple matRippleColor="rgba(100, 100, 100, .1)"
            (click)="incrementDay(); fetchVerseByDate(userSelectedDate);">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </td>
    </tr>
</table>

<div class="your-orders">
    <div class="title">
        YOUR ORDERS
    </div>
    <div class="order panel" *ngFor="let order of incompleteOrders">
        <table style="width: 100%; height: 100%;">
            <tr>
                <td class="scheduled-time" (click)="clicked();" matRipple matRippleColor="rgba(100, 100, 100, .1)">
                    {{ order.pickupTime }} PM
                </td>
                <td class="order-content">
                    Some order information in here
                </td>
                <td class="status" [class.order-placed]="order.state == 'ORDER PLACED'"
                    [class.being-made]="order.state == 'WORKING ON IT'"
                    [class.ready-for-pickup]="order.state == 'READY FOR PICKUP'">
                    {{order.state | titlecase}}
                </td>
            </tr>
        </table>
    </div>
</div>