.content {
  font-family: Roboto;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.type {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}


#no-description {
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 15px;
  margin: 20px 40px;
}

.description {
  justify-content: center;
  font-size: 15px;
}


.stock .button {
  width: 60px;
  text-align: center;
  display: inline-block;
  border-radius: 6px;
  padding: 5px 0;
  transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out;
  margin-left: 38px;
}

.row .price {
  margin-left: 67px;
}

.associated-modifier-lists {
  margin-left: 10px;
}

.in {
  background-color: #007bff;
  color: white;
}

.out {
  color: #007bff;
}
