<app-page-header title="Feedback" canGoBack=true></app-page-header>
<div class="padding">
  <nav>
    <ul>
      <li>
        <a
          class="link card-background subtitle-color"
          routerLinkActive="active"
          routerLink="bugs"
        >
          Bug Report
        </a>
      </li>
      <li>
        <a
          class="link card-background subtitle-color"
          routerLinkActive="active"
          routerLink="features"
        >
          Feature Request
        </a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
