<div id="staff-navbar" class="bottom border-top navbar-background">
  <a class="link" routerLink="orders">
    <mat-icon class="icon" routerLinkActive="active">
      restaurant_menu
    </mat-icon>
    <!-- <span class="text" routerLinkActive="active">Orders</span> -->
  </a>

  <a class="link" routerLink="cafe">
    <mat-icon class="icon" routerLinkActive="active">
      storefront
    </mat-icon>
    <!-- <span class="text" routerLinkActive="active">Cafe</span> -->
  </a>

  <a class="link" routerLink="account">
    <mat-icon class="icon" routerLinkActive="active">
      person
    </mat-icon>
    <!-- <span class="text" routerLinkActive="active">Account</span> -->
  </a>
</div>
