<ng-container *ngIf="orders$ | async as orders">

  <ng-container *ngIf="orders.length > 0; else noOrders">
    <mat-grid-list cols="1" gutterSize="15px" rowHeight="220px" class="wrapper">
      <mat-grid-tile colspan="1" class="card card-background" *ngFor="let order of orders">
        <div class="content">
          <div class="top-line">
            <span class="pickup-time title-color">
              {{ utils.convertTime(order.pickupTime) }}
            </span>
            <span class="customer-name title-color">
              {{ order.customer.name }}
            </span>
            <span class="more-actions">
              <button mat-icon-button [matMenuTriggerFor]="moreActions">
                <mat-icon class="title-color">more_vert</mat-icon>
              </button>
              <mat-menu #moreActions="matMenu">
                <button mat-menu-item [routerLink]="'../' + order.id" (click)="detailsStore.loadOrderDetailsView(order)">
                  Details
                </button>
              </mat-menu>
            </span>
          </div>
          <table class="order-data">
            <tr>
              <td class="label subtitle-color">
                Price
              </td>
              <td class="value subtitle-color">
                {{ order.totalPrice | currency }}
              </td>
            </tr>
            <tr>
              <td class="label subtitle-color">
                Ordered At
              </td>
              <td class="value subtitle-color">
                {{ utils.convertTime(utils.extractTime(order.placedAt)) }}
                {{ utils.appendPeriod(utils.extractTime(order.placedAt)) }}
              </td>
            </tr>
            <tr>
              <td class="label subtitle-color">
                Items ({{ order.orderItems.length }})
              </td>
              <td class="value subtitle-color">
                <div class="items">
                  {{ order.orderItems[0].name }}
                </div>
              </td>
            </tr>
          </table>
          <div class="button-wrapper">
            <button mat-button color="primary" class="complete-order button-border" [routerLink]="'../' + order.id"
              (click)="detailsStore.loadOrderDetailsView(order)">
              Details
            </button>
            <button mat-stroked-button color="primary" class="complete-order button-border" (click)="ready(order)">
              Ready For Pickup
            </button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>

  <ng-template #noOrders>
    <div class="subtitle-color no-orders">
      No active orders
    </div>
  </ng-template>
</ng-container>
<div class="navbar-space-bottom-position"></div>
