<mat-grid-list cols="1" gutterSize="15px" rowHeight="170px" class="wrapper">
    <mat-grid-tile colspan="1" class="card" *ngFor="let order of orders$ | async">
        <div class="content">
            <div class="pickup-time">
                {{utils.convertTime(order.pickupTime)}}
            </div>
            <div class="customer-name">
                {{order.customer.firstName}} {{order.customer.lastName}}
            </div>
            <table class="order-data">
                <tr>
                    <td class="label">
                        Price
                    </td>
                    <td class="value">
                        {{order.totalPrice | currency}}
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Ordered At
                    </td>
                    <td class="value">
                        {{utils.convertTime(utils.extractTime(order.createdAt))}}
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Items
                    </td>
                    <td class="value">
                        <div class="items" *ngFor="let item of order.selectedLineItems; let i = index;">
                            {{utils.appendComma(item.variationData.name, i, order.selectedLineItems.length)}}
                        </div>
                    </td>
                </tr>
            </table>
            <div class="button-wrapper">
                <button mat-stroked-button color="primary" class="complete-order">
                    Complete
                </button>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<div class="navbar-space-bottom-position"></div>