<div class="header body-background">
  <h2 style="margin-left: 10px;" class="title-color">
    <button id="date-selected" class="title-color" mat-ripple (click)="picker.open()">
      Today's Orders
    </button>

    <input [matDatepicker]="picker" style="visibility:hidden; width:0px;">
    <mat-datepicker touchUi [dateClass]="dateClass" #picker></mat-datepicker>
    <button mat-icon-button [matMenuTriggerFor]="moreViews">
      <mat-icon class="title-color">more_horiz</mat-icon>
    </button>
    <mat-menu #moreViews="matMenu">
      <button mat-menu-item routerLink="/staff/orders/completed" (click)="selectOrderView('Completed')">
        <mat-icon *ngIf="selectedOrdersView == 'Completed'" class="app-blue-text" color="primary">fiber_manual_record
        </mat-icon>
        Completed
      </button>
    </mat-menu>
  </h2>
  <div class="order-views">
    <button matRipple (click)="selectOrderView('Up Next')" routerLink="/staff/orders/new" routerLinkActive="selected"
      class="subtitle-color">
      Up Next
    </button>
    <button routerLinkActive="selected" matRipple (click)="selectOrderView('In Progress')"
      routerLink="/staff/orders/active" class="subtitle-color">
      In Progress
    </button>
    <button routerLinkActive="selected" matRipple (click)="selectOrderView('Ready For Pickup')"
      routerLink="/staff/orders/ready" class="subtitle-color">
      Ready
    </button>
  </div>
</div>

<div class="space"></div>

<div *ngIf="loadingOrders" id="loading-orders-spinner">
  <mat-spinner diameter=70></mat-spinner>
</div>

<div *ngIf="!loadingOrders">
  <router-outlet></router-outlet>
</div>
