.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#date-selected {
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background: transparent;
  font-weight: 600;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  outline: none;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0);
  }
}

.order-views {
  margin: 10px 15px 20px 15px;
  text-align: center;
}

.order-views button {
  border: none;
  background-color: transparent;
  margin: 0px 1%;
  height: 35px;
  width: 30%;
  max-width: 150px;
  outline: none;
  border-radius: 8px;
  padding: 7px 0px;
  font-size: 1em;
}

.order-views .selected {
  background-color: #57a4ff;
  color: white;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.space {
  height: 140px;
}

#loading-orders-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35px, -35px);
}
