<div class="tracker">
  <div class="step">
    <div
      class="icon button-border"
      [class.active]="status == 'ORDER PLACED'"
      [class.complete]="
        status == 'ACTIVE' || status == 'READY' || status == 'COMPLETE'
      "
    ></div>
  </div>

  <mat-divider
    class="divider-color line"
    [class.passed-through]="
      status == 'ACTIVE' || status == 'READY' || status == 'COMPLETE'
    "
  ></mat-divider>

  <div class="step">
    <div
      class="icon button-border"
      [class.active]="status == 'ACTIVE'"
      [class.complete]="status == 'READY' || status == 'COMPLETE'"
    ></div>
  </div>

  <mat-divider
    class="divider-color line"
    [class.passed-through]="status == 'READY' || status == 'COMPLETE'"
  ></mat-divider>

  <div class="step">
    <div
      class="icon button-border"
      [class.active]="status == 'READY'"
      [class.complete]="status == 'COMPLETE'"
    ></div>
  </div>

  <mat-divider
    class="divider-color line"
    [class.passed-through]="status == 'COMPLETE'"
  ></mat-divider>

  <div class="step">
    <div class="icon button-border" [class.active]="status == 'COMPLETE'"></div>
  </div>
</div>
