.tracker {
  display: flex;
  align-items: center;
  height: 65px;
  justify-content: space-evenly;
}

.tracker .step {
  display: flex;
  align-items: center;
}

.tracker .step .icon {
  border-radius: 50%;
  min-height: 15px;
  min-width: 15px;
  max-width: 15px;
  max-height: 15px;
  border-width: 2px;
}

.tracker .step .active {
  background-color: #49c9f2;
  box-shadow: 0 0 2px 8px #49c9f230;
  margin: 0px 13px;
  border: none;
}

.tracker .step .complete {
  background-color: #49c9f2;
  border: none;
}


.tracker .line {
  width: 100%;
  border-width: 2px;
}

.tracker .passed-through {
  border-top-color: #49c9f2;
}
