header {
  padding: 0 15px;
  width: 100%;
  background-color: white;
  position: fixed;
  text-align: center;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.header-space {
  height: 47px;
}

#back {
  align-items: center;
  display: flex;
  position: absolute;
  height: 100%;
  left: 15px;
}

#title {
  font-size: 18px;
  font-weight: 500;
}

.dark-theme .bottom-border {
  border-bottom: 1px solid #353535;
}

.light-theme .bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
