<div [ngClass]="{'light-theme': !darkThemeOn, 'dark-theme': darkThemeOn}">
  <header id="header" class="bottom-border card-background">
    <button id="back" class="app-blue-text" *ngIf="canGoBack">
      <mat-icon *ngIf="backUrl" [routerLink]="backUrl" matRipple>arrow_back_ios</mat-icon>
      <mat-icon *ngIf="backUrl == null" routerLink=".." matRipple>arrow_back_ios</mat-icon>
    </button>

    <div id="title" class="title-color">
      {{ title }}
    </div>
  </header>
</div>

<div class="header-space"></div>
