<div id="scrollable-wrapper" *ngIf="modListData">

    <div *ngIf="multipleSelectionEnabled">
        <div class="modifier-wrapper" *ngFor="let modifier of modListData.modifiers;">
            <div class="top-line">
                <div class="bold small">
                    {{ modifier.name }}
                </div>
                <mat-checkbox labelPosition="before" color="primary" (change)="changed($event.checked, modifier);"
                    [checked]="selected(modifier)">
                </mat-checkbox>
            </div>
            <div class="small bottom-space-5">
                {{ modifier.price | currency}}
            </div>

            <mat-divider></mat-divider>
        </div>
    </div>

    <div *ngIf="!multipleSelectionEnabled">
        <div class="modifier-wrapper" *ngFor="let modifier of modListData.modifiers;">
            <div class="top-line">
                <div class="bold small">
                    {{ modifier.name }}
                </div>
                <mat-checkbox labelPosition="before" color="primary"
                    (change)="changedSingleSelection(modifier, modListData.modifiers);" [checked]="selected(modifier)">
                </mat-checkbox>
            </div>
            <div class="small bottom-space-5">
                {{ modifier.price | currency}}
            </div>

            <mat-divider></mat-divider>
        </div>

    </div>