#scrollable-wrapper {
    max-height: 150px;
    overflow-y: scroll;
    margin-top: 10px;
}

.modifier-wrapper {
    margin: 10px;
}

.bold {
    font-weight: 800;
}

.small {
    font-size: .9em;
}

.align-right {
    position: absolute;
    right: 0;
}

.right-space {
    margin-right: 40px;
}

.bottom-space-5 {
    margin-bottom: 5px;
}