.label-font {
  font-family: 'Sen', sans-serif;
}

.price-container {
  text-align: center;
  margin-bottom: 70px;
  font-family: 'Proza Libre';
}

#dollar-sign {
  display: inline-block;
  font-size: 20px;
  transform: translateY(-8px);
}

#dollars {
  font-size: 53px;
  display: inline-block;
}

#cents {
  font-size: 44px;
  display: inline-block;
}

#decimal-point {
  display: inline-block;
  font-size: 44px;
}

.items {
  margin: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 4px 10px;
  border-radius: 4px;
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 4px 0px;
  height: 80px;
  font-family: Roboto;
}

.item .name {
  font-size: 16px;
  font-weight: 500;
}

.item .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 100%;
}

.item .price {
  font-size: 14px;
  font-weight: normal;
}

.avatar {
  display: inline-block;
}

.avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.item .remove-item {
  display: flex;
  align-items: center;
}

.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

#pay {
  position: relative;
  bottom: 60px;
  width: 90%;
  max-width: 500px;
  height: 50px;
}
