.label-font {
  font-family: 'Sen', sans-serif;
}

.price-container {
  text-align: center;
}

.price {
  font-family: 'Roboto';
}

#dollar-sign {
  display: inline-block;
  font-size: 44px;
}

#dollars {
  font-size: 53px;
  display: inline-block;
}

#cents {
  font-size: 44px;
  display: inline-block;
}

#decimal-point {
  display: inline-block;
  font-size: 44px;
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  border-radius: 4px;
  width: 90%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-side {}

.right-side {
  font-weight: 600;
}

.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

#pay {
  position: relative;
  bottom: 60px;
  width: 90%;
  max-width: 500px;
  height: 50px;
}
