<div class="pickup-time">
  <div class="title title-color">
    Pickup Time
    <span *ngIf="selectedTime">
      : {{ timeUtils.convertTime(selectedTime) }}
      <span class="period">
        {{ timeUtils.appendPeriod(selectedTime) }}
      </span>
    </span>
  </div>
  <div class="available-times">
    <div
      class="time button-border subtitle-color pill-color"
      [class.selected]="selectedTime == pickupTime.time"
      *ngFor="let pickupTime of availableTimes"
      (click)="timeSelected(pickupTime.time)"
      matRipple
      matRippleColor="rgba(100, 100, 100, .1)"
    >
      {{ timeUtils.convertTime(pickupTime.time) }}
      <span class="period">
        {{ timeUtils.appendPeriod(pickupTime.time) }}
      </span>
    </div>
  </div>
</div>
<div
  *ngFor="let orderItem of currentOrder.orderItems"
  class="left-margin-20 right-margin-20 order-item-panel card-background"
>
  <table class="full-width">
    <tr>
      <td style="width: 50%;">
        <div id="item-name" class="item-name title-color" style="margin-right: 10px;">
          {{ orderItem.name }}
        </div>
      </td>
      <td id="quantity-selector" class="right-align-text title-color">
        <div id="total-item-price">
          {{ orderItem.quantity * orderItem.price | currency }}
        </div>
      </td>
    </tr>
  </table>
  <table class="full-width">
    <tr *ngIf="orderItem.selectedModifiers" style="color: grey;">
      <td>
        <div
          *ngFor="let modifier of orderItem.selectedModifiers"
          class="smaller-text subtitle-color"
        >
          {{ modifier.name }}

          <span *ngIf="modifier.price != 0">
            ({{ modifier.price | currency }})
          </span>
        </div>
      </td>
    </tr>
  </table>
  <table class="full-width">
    <tr>
      <td>
        <button
          mat-button
          class="item-action"
          color="primary"
          (click)="editItem(orderItem)"
        >
          EDIT
        </button>
        <button
          mat-button
          class="item-action"
          color="primary"
          (click)="removeFromOrder(orderItem)"
        >
          REMOVE
        </button>
      </td>
    </tr>
  </table>
</div>

<div
  id="bottom-card"
  class="full-width navbar-space-bottom white-background shadow card-background"
  *ngIf="currentOrder != null"
>
  <table class="full-width top-margin-15">
    <tr class="label-font">
      <td class="small-width right-align-text">
        <div id="tax" class="inline-block theme-color">Tax:</div>
      </td>
      <td >
        <div class="number inline-block title-color">
          {{ currentOrder.totalPrice * 0.08 | currency }}
        </div>
      </td>
      <td class="right-align-text">
        <div id="subtotal" class="inline-block theme-color">Subtotal:</div>
      </td>
      <td class="small-width right-align-text">
        <div class="number inline-block right-margin-20 title-color">
          {{ currentOrder.totalPrice | currency }}
        </div>
      </td>
    </tr>
  </table>
  <button
    mat-raised-button
    id="continue"
    class="top-margin-15 bottom-margin-20"
    color="primary"
    routerLink="payment"
  >
    Continue to Payment
  </button>
</div>
