<div class="price-container title-color">
  <div class="price">
    <div id="dollar-sign">$</div>
    <div id="dollars">
      {{getDollars(currentOrder.totalPrice)}}
    </div>
    <div id="decimal-point">.</div>
    <div id="cents">
      {{getCents((currentOrder.totalPrice + (currentOrder.totalPrice * .08)))}}
    </div>
  </div>
</div>

<ng-container *ngIf="availableTimes">
  <div id="select-time">
    <button mat-button class="title-color" (click)="openTimeSelector()" *ngIf="selectedTime">
      {{ timeUtils.convertTime(selectedTime) }} {{ timeUtils.appendPeriod(selectedTime) }}
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-button class="title-color" (click)="openTimeSelector()" *ngIf="!selectedTime && availableTimes.length > 0">
      Select Time <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="currentOrder">
  <div class="items">
    <ng-container *ngFor="let item of currentOrder.orderItems">

      <div class="item card-background" matRipple [ngClass]="{'diffused-shadow': !darkThemeOn}">
        <div class="avatar" (click)="editItem(item)">
          <ng-container *ngIf="item.imageUrl == null">
            <img src="../../../../../../assets/images/menu icons/restaurant.png">
          </ng-container>
          <ng-container *ngIf="item.imageUrl">
            <img [src]="item.imageUrl">
          </ng-container>
        </div>

        <div class="text" (click)="editItem(item)">

          <div class="name title-color"> {{ item.name }} </div>
          <div class="price subtitle-color"> {{ item.price | currency }} </div>
        </div>

        <div class="remove-item">
          <mat-icon class="subtitle-color" (click)="removeFromOrder(item)">close</mat-icon>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>


<div class="bottom">

  <button mat-raised-button class="bottom-button" color="primary" routerLink="payment" *ngIf="selectedTime">
    Continue to Payment
  </button>

  <button mat-raised-button class="bottom-button" color="primary" (click)="openTimeSelector()"
  *ngIf="!selectedTime" [disabled]="availableTimes == null || availableTimes.length <= 0">
    <ng-container *ngIf="availableTimes.length > 0">
      Select a Pickup Time
    </ng-container>
    <ng-container *ngIf="availableTimes.length <= 0">
      No Available Times Today
    </ng-container>
  </button>
</div>
