:host {
  position: fixed;
  top:0;
  bottom: 0;
  width: 15%;
  max-width: 300px;
  background-color: black;
  color: white;
}

.links {
  display: flex;
  color: white;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.link .text {
  margin-left: 5px;
}
