#header {
    border-bottom: solid 1px rgba(0, 0, 0, .09);
}

#no-order-content {
    width: 100%;
}

.center-text {
    text-align: center;
}

.big-text {
    font-size: 1.5em;
}

.label-font {
    font-family: 'Sen', sans-serif;
}

.padding-10 {
    padding: 10px;
}

#continue {
    width: 94%;
    height: 50px;
    left: 50%;
    margin-left: -47%;
}

.inline-block {
    display: inline-block;
}

.quarter-width {
    width: 25%;
}

.full-width {
    width: 100%;
}

.right-align-text {
    text-align: right;
}

.right-margin-20 {
    margin-right: 20px;
}

.left-margin-20 {
    margin-left: 20px;
}

.top-margin-15 {
    margin-top: 15px;
}

.bottom-margin-20 {
    margin-bottom: 20px;
}

.small-width {
    width: 80px;
}

#tax {
    margin-right: 20px;
}

#bottom-card {
    position: fixed;
}

#item-name {}

.bold {
    font-weight: 500;
}

.quantity-button {
    width: 50px;
}

#quantity-selector {
    align-content: right;
}

.italic {
    font-style: italic;
}

.smaller-text {
    font-size: .9em;
}