<div class="header card-background profile-border">
    <div class="title title-color">
        Account
    </div>
    <div class="user-summary">

        <img [src]="imgUrl">

        <div class="name title-color">
            {{name}}
        </div>
        <div class="email subtitle-color">
            {{email}}
        </div>
    </div>
</div>

<div class="actions center-text">
    <mat-divider class="divider-color"></mat-divider>
    <a class="action card-background title-color" matRipple routerLink="settings">
        Settings
        <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
      <mat-divider class="divider-color"></mat-divider>
    <a class="action card-background title-color" matRipple>
        Notifications
        <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
    <mat-divider class="divider-color"></mat-divider>
    <a class="action card-background title-color" matRipple>
        Edit Profile
        <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
    <mat-divider class="divider-color"></mat-divider>
    <a class="action warn card-background" id="signout" matRipple>
        SIGN OUT
    </a>
  <mat-divider class="divider-color"></mat-divider>
</div>
