.header {
    background-color: #f6f6f6;
    border-radius: 5px;
    margin: 10px;
    padding-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px;
    color: darkslategray;
}

.user-summary {
    text-align: center;
}

.user-summary img {
    border-radius: 50%;
    padding: 10px;
}

.user-summary .name {
    font-weight: 600;
    color: darkslategrey
}

.user-summary .email {
    font-size: .9em;
    color: darkslategray;
}

.action {
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: black;
    padding: 20px 15px;

}

#signout {
    text-align: center;
    display: block;
    font-weight: 600;
    color: #f10404;
}

hr {
    border-top: dashed 1px #aaa;
    margin: 0;
}