<div id="overlay">
  <div class="label-font center-text big-text title-color" id="title">
    Our Menu
  </div>
  <div id="menu-container" class="center-text">
    <a
      class="menu-button center-text card-background shadow"
      matRipple
      matRippleColor="rgba(100, 100, 100, .1)"
      routerLink="eats"
    >
      <div class="menu-content">
        <img
          src="../../../../../assets/images/menu icons/dinner.png"
          class="image-width"
        />
        <div class="menu-button-title label-font title-color">Eats</div>
      </div>
    </a>
    <a
      class="menu-button center-text card-background shadow"
      matRipple
      matRippleColor="rgba(100, 100, 100, .1)"
      routerLink="sweets"
    >
      <div class="menu-content">
        <img
          src="../../../../../assets/images/menu icons/ice-cream.png"
          class="image-width"
        />
        <div class="menu-button-title label-font title-color">Sweets</div>
      </div>
    </a>
    <a
      class="menu-button center-text card-background shadow"
      matRipple
      matRippleColor="rgba(100, 100, 100, .1)"
    >
      <div class="menu-content">
        <img
          src="../../../../../assets/images/menu icons/candy.png"
          class="image-width"
          routerLink="snacks"
        />
        <div class="menu-button-title label-font title-color">Snacks</div>
      </div>
    </a>
    <a
      class="menu-button center-text card-background shadow"
      matRipple
      matRippleColor="rgba(100, 100, 100, .1)"
    >
      <div class="menu-content">
        <img
          src="../../../../../assets/images/menu icons/mug.png"
          class="image-width"
          routerLink="drinks"
        />
        <div class="menu-button-title label-font title-color">Drinks</div>
      </div>
    </a>
  </div>
</div>
