<div id="overlay">
    <div id="menu-container">
        <a class="menu-button" matRipple matRippleColor="rgba(100, 100, 100, .1)" routerLink="eats">
            <div class="menu-content">
                <mat-icon class="menu-icon">fastfood</mat-icon>
                <div class="menu-button-title">EATS</div>
            </div>
        </a>
        <a class="menu-button" matRipple matRippleColor="rgba(100, 100, 100, .1)">
            <div class="menu-content">
                <mat-icon class="menu-icon">emoji_food_beverage</mat-icon>
                <div class="menu-button-title">DRINKS</div>
            </div>
        </a>
    </div>
</div>