.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
  display: flex;
  display: -webkit-box;
  justify-content: center;
  margin-right: 10px;
}

.category {
  max-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 18px;
}

.category .name {
  font-size: .9em;
  font-family: 'Sen';
}

.image-wrapper {
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 18px;
  margin: 0px 0px 5px 0px;
  outline: none;
}

.image-wrapper img {
  width: 30px;
}

.selected-category {
  background-color: black;
}

/* .selected-text {
  font-weight: 600;
} */


#search-bar-image {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;
  padding: 0 5px 0 10px;
  display: flex;
  /* my lobger asked me to do some coding while he was gone
and I'm not too sure how I can contribute to this beep beep boop bop
but I do loves him and hope he can forgive me for my lack of input
so while I'm here I will say that I'm SO PROUD of how far you've come with this project
I love you and I'm so excited to see the finished product! You're doing so so so so so good my lover
now let me pretend to do something useful: beep beep bop boop beep
java each and everything git hub computer angular   */
}

.search-bar-container {
  height: 50px;
  display: flex;
  width: 85%;
  max-width: 400px;
  margin: 20px 0px;
}

#search-bar {
  border: none;
  font-family: 'Roboto';
  font-size: 1em;
  outline: none;
  width: 100%;
  padding-left: 3px;
  border-radius: 0;
  height: 100%;
}

#delete-search {
  display: flex;
  align-items: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  padding: 0 4px;
}

#delete-search .mat-icon {
  border-radius: 50px;
}

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: #2b2b2b;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.subcategory {
  font-weight: 600;
  margin-bottom: 10px;
}

.item {
  padding-left: 8px;
  font-weight: 400;
}

.menu-label {
  font-size: 23px;
  font-weight: 600;
  margin: 30px 0px 20px 30px;
  font-family: 'Sen';
}

.scrolling-wrapper-food {
  margin-left: 10px;
  margin-right: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 220px;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  width: 0px;
}

.card {
  position: relative;
  display: inline-block;
  margin: 5px;
  height: 200px;
  width: 160px;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.rounded {
  border-radius: 5px;
}

.card-size {
  max-width: 160px;
  max-height: 200px;
}

.category-title {
  margin-left: 10px;
  font-family: 'Sen', sans-serif;
  font-size: 1em;
  font-style: bold;
}

.price {
  position: absolute;
  background-color: #49c9f2;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-left: 16px;
  margin-top: 5px;
}

.item-name {
  margin-left: 16px;
  margin-top: 12px;
}

.space {
  margin-top: 30px;
}

a {
  color: #49c9f2;
  cursor: pointer;
}

#space-for-nav {
  width: 100%;
  height: 100px;
}

.full-background {
  background-size: 100%;
  background-color: lightskyblue;
}

.default-item-background {
  background-image: url('../../../../../assets/images/menu icons/restaurant.png');
  background-repeat: no-repeat;
  background-position: center;
}
