.buttons-wrapper {
  margin: 10px;
}

.settings-button {
  border-radius: 5px;
  text-align: center;
}

.settings-button .icon {
  display: block;
  margin: auto;
}

.navbar-space{
  min-height:60px;
}
