<mat-grid-list cols="2" gutterSize="16px" class="buttons-wrapper">
  <a>
    <mat-grid-tile
      colspan="1"
      class="settings-button card-background button-border"
      matRipple
      routerLink="hours"
    >
      <div class="content title-color">
        <img
          [src]="
            '../../../../../assets/images/staff/' + colorPack + '/clock.png'
          "
          class="icon"
        />
        Hours
      </div>
    </mat-grid-tile>
  </a>
  <a>
    <mat-grid-tile
      colspan="1"
      class="settings-button card-background button-border"
      matRipple
      routerLink="inventory"
    >
      <div class="content title-color">
        <img
          [src]="
            '../../../../../assets/images/staff/' + colorPack + '/trolley.png'
          "
          class="icon"
        />
        Stock
      </div>
    </mat-grid-tile>
  </a>
  <a>
    <mat-grid-tile
      colspan="1"
      class="settings-button card-background button-border"
      matRipple
    >
      <div class="content title-color">
        <img
          [src]="
            '../../../../../assets/images/staff/' + colorPack + '/menu.png'
          "
          class="icon"
        />
        Catalog
      </div>
    </mat-grid-tile>
  </a>
  <a>
    <mat-grid-tile
      colspan="1"
      class="settings-button card-background button-border"
      matRipple
      routerLink="pickup"
    >
      <div class="content title-color">
        <img
          [src]="
            '../../../../../assets/images/staff/' + colorPack + '/truck.png'
          "
          class="icon"
        />
        Pickup Times
      </div>
    </mat-grid-tile>
  </a>

  <a>
    <mat-grid-tile
      colspan="1"
      class="settings-button card-background button-border"
      matRipple
      routerLink="../feedback/bugs"
    >
      <div class="content title-color">
        <img
          [src]="'../../../../../assets/images/staff/' + colorPack + '/bugs.png'"
          class="icon"
        />
        Bugs
      </div>
    </mat-grid-tile>
  </a>

  <a>
    <mat-grid-tile
      colspan="1"
      class="settings-button card-background button-border"
      matRipple
      routerLink="app"
    >
      <div class="content title-color">
        <img
          [src]="
            '../../../../../assets/images/staff/' + colorPack + '/gear.png'
          "
          class="icon"
        />
        App Settings
      </div>
    </mat-grid-tile>
  </a>
</mat-grid-list>

<div class="navbar-space"></div>
