.wrapper {
    margin: 0px 15px;
}

.card {
    background-color: #f6f6f6;
    color: black;
    /* border: solid 1px #eaeaea; */
    border-radius: 5px;
    /* 
    background-color: white;
    color: black;
    border: solid 1px lightgrey;
    border-radius: 5px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); */
}

.order-views {
    margin: 10px 15px 20px 15px;
    text-align: center;
}

.order-views button {
    border: none;
    background-color: transparent;
    color: #939cb8;
    margin: 0px 1%;
    height: 35px;
    width: 30%;
    max-width: 150px;
    outline: none;
    border-radius: 15px;
    padding: 7px 0px;
}

.order-views .selected {
    /* background-color: #34a5f2; */
    /* background-image: linear-gradient(141deg, #1877f2 40%, #49c9f2); */
    background-image: linear-gradient(to right, #42aaff, #0095ff);
    color: white;

    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}


.content {
    width: 100%;
    height: 100%;
}

.pickup-time {
    font-weight: 600;
    display: inline-block;
    margin: 10px 10px 5px 15px;
    font-size: 1.2em;
}

.customer-name {
    display: inline-block;
    font-weight: 500;
}

.order-data {
    width: 80%;
    max-width: 400px;
    margin: auto;
}

.label {
    color: #959aaa;
    font-size: .9em;
    width: 45%;
}

.value {
    color: #5b5e68;
    font-size: .9em;
    width: 55%;
}

.items {
    display: inline-block;
}

.state {
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    width: 150px;
    max-width: 150px;
    padding: 10px;
    font-weight: 700;
    display: inline-block;
}

.working {
    color: #3cb492;
    background-color: #d5f0eb;
}

.unopened {
    color: #287ace;
    background-color: #e0ecfa;
}

.more-details {
    background-color: white;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 12px 8px #d3d3d354;
    color: rgb(156, 156, 156);
    margin-top: 10px;
    padding: 5px 9px;
    max-width: 40px;
}

/* .price {} */