<app-header title="Catalog" (searchQuery)="filterByQuery($event)"></app-header>

<div class="segmented-control">
  <app-segmented-control [choices]="controls" (selectionMade)="changeGroupFilter($event)" #selector></app-segmented-control>
</div>

<ng-container *ngIf="displayedItems">
  <ng-container *ngFor="let object of displayedItems">
    <div class="object title-color" matRipple [routerLink]="object.id" [queryParams]="{type: object.type}">
      {{object.name}}
    </div>

    <mat-divider class="divider-color"></mat-divider>
  </ng-container>
</ng-container>
