.summary-card {
  border-radius: 4px;
  padding: 10px;
}


.item {
  margin-bottom: 10px;
  font-size: .85em;
}

.top-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bold {
  font-weight: 700;
}

.section {
  margin-top: 10px;
}

.price-summary {
  display: flex;
  justify-content: space-between;
}

.item {
  margin: 5px 0px;
}

.modifiers {
  text-align: left;
  margin: 0px 10px;
}

.modifier {
  display: inline-block;
  margin-right: 5px;
}
