.time {
  color: #49c9f2;
  font-size: 6em;
  font-family: 'Sen';
}

.padding-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pickup-text {
  font-size: 1.1em;
  font-family: 'Sen';
}

.section {
  margin: 20px 0px;
}

.status-text {}
