<div class="image-wrapper">

  <input type="file" style="display: none" #selectImage (change)="previewImage($event.target.files[0])">

  <div id="no-image-yet" *ngIf="!url" class="button-border">
    <div class="subtitle-color">
      No image yet
    </div>
    <button mat-button class="app-blue-text edit-button" (click)="selectImage.click()">
      Choose One Now
    </button>
  </div>

  <ng-container *ngIf="url">
    <img [src]="url" *ngIf="url" (click)="toggleShowEditImageButton()" [ngClass]="{'blur': showEditImageButton}">
    <div id="edit-image" class="edit-button">
      <button mat-raised-button *ngIf="showEditImageButton" class="app-blue" (click)="selectImage.click()">Change
        Image</button>
    </div>
  </ng-container>


</div>
