.image-wrapper {
  position: relative;
  text-align: center;
}

img {
  max-width: 400px;
  width: 90%;
}

#edit-image {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
}

.blur {
  filter: blur(7px);
}
