.mat-form-field {
  width: 100%;
}

.actions {
  text-align: right;
}

.answer {
  width: 100%;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 1em;
  margin: 10px 0px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

button {
  margin: 0px 5px;
}
