.background-top-left {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 0px;
  height: 300px;
  width: 300px;
  border-bottom-right-radius: 112%;
  z-index: -1;
}

.background-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-left-radius: 0px;
  height: 200px;
  width: 250px;
  border-top-left-radius: 112%;
  z-index: -1;
}

.greeting {
  padding: 30px;
  font-size: 2em;
}


.quick-actions {
  text-align: center;
}

.action {
  height: 105px;
  width: 105px;
  margin: 10px;
  border-radius: 4px;
  display: inline-block;
  padding: 10px;
}

.action :focus {
  border-radius: 10px;
}

.icon {
  width: 65px;
  height: 65px;
}

.votd {
  width: 95%;
  border-radius: 4px;
  scroll-snap-align: start;
  margin: 0 2.5%;
}

.verses {
  scroll-snap-type: y mandatory;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}
