.dark-blue {
    background-color: #383d57;
}

.being-made {
    color: #7883d7;
    background-color: #7883d712;
}

.ready-for-pickup {
    color: #3db7b7;
    background-color: #3db7b70f;
}

.status {
    margin-right: 10px;
    font-weight: 500;
    font-size: .9em;
    height: 100%;
    text-align: left;
    width: 20%;
    padding-left: 10px;
    border-radius: 5px;
}

.scheduled-time {
    width: 16%;
    color: #34a5f2;
    text-align: center;
    margin: 5px;
    font-weight: 500;
}

.order-content {
    font-size: .9em;
    font-weight: 500;
    text-align: center;
}

.order-placed {
    color: #34a5f2;
    background-color: #34a5f217;
}

.verse {
    margin: 10px 10px 10px 10px;
}

.votd {
    color: white;
    font-size: 1em;
}

.title {
    font-weight: 500;
    margin-left: 10px;
    padding-top: 10px;
}

.panel {
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);
    margin: 5px 10px 10px 10px;
    padding: 5px;
}

.hours {
    background-color: white;
}

.order {
    height: 60px;
    text-align: right;
    padding: 0;
    background-color: white;
    position: relative;
}

.passage {
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px;
    float: right;
}

.actions {
    float: right;
}

.blue-gradient {
    background-image: linear-gradient(141deg, #49c9f2 40%, #1877f2);
}

.red-gradient {
    background-image: linear-gradient(141deg, #f24978 40%, #db18f2);
}

.orange-gradient {
    background-image: linear-gradient(141deg, #ff8802 40%, #e52f70);
}

.day {
    text-align: right;
    font-size: 1em;
    font-weight: 500;
    padding-right: 10px;
}

.hours {
    text-align: left;
    font-size: 1em;
    /* font-weight: 500; */
    padding-left: 10px;
}