<div id="main-content" *ngIf="isCustomer && isStaff">
  <div class="title title-color">How would you like to sign in?</div>
  <div class="roles">
    <div id="customer">
      <button mat-raised-button color="primary" class="role" *ngIf="isCustomer"
      (click)="signInAsCustomer()">Customer</button>
    </div>

    <div id="staff" *ngIf="isStaff">
      <button mat-raised-button class="role" color="primary"
      (click)="signInAsStaff()">Staff</button>
    </div>

    <div id="admin" *ngIf="isAdmin">
      <button mat-raised-button class="role" color="primary"
      (click)="signInAsAdmin()" disabled=true>Admin</button>
    </div>
  </div>
</div>
