<div class="sign-in-wrapper">

  <div id="main-content" *ngIf="isCustomer && isStaff">

    <div class="greeting title-color">
      Hey, {{userShortName}}!
    </div>

    <img [src]="user.imageUrl" class="avatar">

    <div class="title title-color">How would you like to sign in?</div>

    <div class="roles button-border card-background">
      <div id="customer" class="role" (click)="signInAsCustomer()">
        <div class="role-name title-color">
          Customer
        </div>
        <button mat-button class="sign-in-button">Sign in</button>
      </div>

      <mat-divider class="divider-color"></mat-divider>

      <div id="staff" class="role" *ngIf="isStaff" (click)="signInAsStaff()">
        <div class="role-name title-color">
          Staff
        </div>
        <button mat-button class="sign-in-button">Sign in</button>
      </div>

      <mat-divider class="divider-color" *ngIf="isAdmin"></mat-divider>

      <div id="admin" class="role" *ngIf="isAdmin" (click)="signInAsAdmin()">
        <div class="role-name title-color">
          Admin
        </div>
        <button mat-button class="sign-in-button">Sign in</button>
      </div>
    </div>
  </div>

</div>
