<div id="header">
    <img id="logo" src="../../../../../../assets/logos/UPCafé White_Blue_TEXT_ONLY.png">
</div>
<div class="category-title">BREAKFAST</div>
<div class="scrolling-wrapper">
    <div class="card">
        <div class="price">$2.00</div>
        <img src="../../../../../../assets/images/croissant.jpg" class="rounded card-size">
    </div>
    <div class="card">
        <div class="price">$1.50</div>
        <img src="../../../../../../assets/images/english muffin.jpg" class="rounded card-size">
    </div>
    <div class="card">
        <div class="price">$3.00</div>
        <img src="../../../../../../assets/images/bacon and eggs.jfif" class="rounded card-size">
    </div>
    <div class="card">
        <div class="price">$1.00</div>
        <img src="../../../../../../assets/images/breakfast.jpg" class="rounded card-size">
    </div>
</div>