<div id="header">
    <img id="logo" src="../../../../../../assets/logos/UPCafé White_Blue_TEXT_ONLY.png">
</div>
<div class="space"></div>
<div *ngFor="let section of catalog.catalogSections">
    <div class="category-title">
        {{section.category | uppercase}}
    </div>
    <div class="scrolling-wrapper">
        <div *ngFor="let item of section.items" style="display:inline;">
            <div *ngFor="let variation of item.variationsData" style="display: inline;">
                <a class="card" (click)="loadItem(item, variation)" [routerLink]="variation.variationId">
                    <div class="item-name">{{variation.name}}</div>
                    <div class="price">{{variation.variationPrice | currency}}</div>
                </a>
            </div>
        </div>
        <div class="space"></div>
    </div>
</div>
<div id="space-for-nav"></div>