<div class="header">
  <button mat-icon-button (click)="close()" id="close-button"><mat-icon>close</mat-icon></button>
  <div class="item-name">
      Customize
  </div>
</div>
<div class="body">

  <div class="information">
    <div class="name">
      {{item.name}}
    </div>
    <div class="price">
      {{item.price | currency}}
    </div>
  </div>

  <div id="modifier-chips">
    <mat-chip-list>

      <mat-chip class="chip" *ngFor="let modifier of selectedModifiers" removable=true (removed)="remove(modifier)">

        {{modifier.name}}

        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>

    </mat-chip-list>
  </div>

    <div class="scrolling-wrapper" id="modifier-list-container">
      <ng-container *ngFor="let modList of item.modifierLists">
        <div class="modifier-list">
            <a class="modifier-list-image" (click)="selectedModifierList = modList"
            [ngStyle]="{ 'background-image': 'url(' + modList.image.url + ')' }"
            [class.selected]="selectedModifierList == modList">
          </a>
          <div class="name">{{ modList.name }}</div>
        </div>
      </ng-container>
    </div>
    <app-mod-list-details id="mod-list-details" [modList]="selectedModifierList" (priceAdjusted)="addToOrderItemPrice($event)"
    (listChange)="modifierSelected($event)" #modListDetails [selectedModifiers]="selectedModifiers"></app-mod-list-details>
</div>

<div class="actions">
  <button mat-raised-button color="primary" id="add-to-order-button" (click)="addToOrder()" [disabled]="!item.inStock">
    <ng-container *ngIf="item.inStock">
      <div style="display: inline-block">
        Add to Order
      </div>
      <div id="order-item-price">
          {{orderItemPrice | currency}}
      </div>
    </ng-container>
    <ng-container *ngIf="!item.inStock">
      Temporarily Out
    </ng-container>
  </button>
</div>
