<div class="header">
  <button mat-icon-button (click)="close()" id="close-button"><mat-icon>close</mat-icon></button>
  <div class="item-name">
      Customize
  </div>
</div>
<div class="body">

  <div class="information">
    <div class="name">
      {{item.name}}
    </div>
    <div class="price">
      {{item.price | currency}}
    </div>
  </div>


    <div class="scrolling-wrapper">
      <ng-container *ngFor="let modList of item.modifierLists">
        <div class="modifier-list">
            <a class="modifier-list-image" (click)="selectedModifierList = modList"
            [ngStyle]="{ 'background-image': 'url(' + modList.image.url + ')' }"
            [class.selected]="selectedModifierList == modList">
          </a>
          <div class="name">{{ modList.name }}</div>
        </div>
      </ng-container>
    </div>
    <app-mod-list-details [modList]="selectedModifierList"></app-mod-list-details>
</div>

<div class="actions">
  <button mat-raised-button color="primary" id="add-to-order-button" (click)="addToOrder()" [disabled]="!item.inStock">
    <ng-container *ngIf="item.inStock">
      Add to Order
    </ng-container>
    <ng-container *ngIf="!item.inStock">
      Temporarily Out
    </ng-container>
  </button>
</div>
