<mat-grid-list cols="2" class="actions" gutterSize="13px">
    <mat-grid-tile colspan="1" matRipple class="action card-background"
     routerLink="users" [ngClass]="{'diffused-shadow': !darkThemeOn}">

      <div class="name title-color">
        Users
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" matRipple class="action card-background"
    [ngClass]="{'diffused-shadow': !darkThemeOn}">

    </mat-grid-tile>

    <mat-grid-tile colspan="1" matRipple class="action card-background "
    [ngClass]="{'diffused-shadow': !darkThemeOn}">

    </mat-grid-tile>
    <mat-grid-tile colspan="1" matRipple class="action card-background"
    [ngClass]="{'diffused-shadow': !darkThemeOn}">

    </mat-grid-tile>
</mat-grid-list>
