<mat-divider class="divider-color"></mat-divider>
<table class="actions">
  <tr class="action title-color" routerLink="app">
    <td class="icon">
      <mat-icon class="title-color">settings</mat-icon>
    </td>
    <td class="action-name">
      <span class="description">
        Settings
      </span>
      <mat-icon class="subtitle-color">keyboard_arrow_right</mat-icon>
    </td>
    <mat-divider class="divider-color"></mat-divider>
  </tr>
  <tr class="action title-color">
    <td class="icon">
      <mat-icon class="title-color" style="transform: rotate(36deg);">notifications_none</mat-icon>
    </td>
    <td class="action-name" matRipple>
      <span class="description">
        Push notifications
      </span>
      <mat-icon class="subtitle-color">keyboard_arrow_right</mat-icon>
    </td>
    <mat-divider class="divider-color"></mat-divider>
  </tr>
  <tr class="action title-color" routerLink="../feedback/bugs">
    <ng-container matRipple>
      <td class="icon">
        <mat-icon class="title-color">mail_outline</mat-icon>
      </td>
      <td class="action-name">
        <span class="description">
          Send feedback
        </span>
        <mat-icon class="subtitle-color">keyboard_arrow_right</mat-icon>
      </td>
      <mat-divider class="divider-color"></mat-divider>
    </ng-container>
  </tr>
  <tr class="action title-color" routerLink="../../roles">
    <ng-container matRipple>
      <td class="icon">
        <mat-icon class="title-color">people</mat-icon>
      </td>
      <td class="action-name">
        <span class="description">
          Switch roles
        </span>
        <mat-icon class="subtitle-color">keyboard_arrow_right</mat-icon>
      </td>
    </ng-container>
    <mat-divider class="divider-color"></mat-divider>
  </tr>
</table>

<div id="signout" class="title-color" matRipple (click)="signOut()">
  SIGN OUT
</div>
<mat-divider class="divider-color"></mat-divider>
