 .actions {
   width: 100%
 }

 .actions .action {
   width: 100%;
 }

 .actions .action .icon {
   width: 30px;
   padding: 10px;
 }

 .action-name {
   display: flex;
   justify-content: space-between;
   padding: 10px 10px 10px 5px;
 }

 #signout {
   text-align: center;
   font-weight: 600;
   padding: 10px;
   width: 100%;
 }
