<mat-grid-list cols="1" gutterSize="15px" rowHeight="170px" class="wrapper">
    <mat-grid-tile colspan="1" class="card" *ngFor="let order of orders">
        <div class="content">
            <div class="top-line">
                <span class="pickup-time">
                    {{convertTime(order.pickupTime)}}
                </span>
                <span class="customer-name">
                    {{order.customer.firstName}} {{order.customer.lastName}}
                </span>
                <span class="more-actions">
                    <button mat-icon-button [matMenuTriggerFor]="moreActions">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #moreActions="matMenu">
                        <button mat-menu-item>
                            Details
                        </button>
                    </mat-menu>
                </span>
            </div>
            <table class="order-data">
                <tr>
                    <td class="label">
                        Price
                    </td>
                    <td class="value">
                        {{order.totalPrice | currency}}
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Ordered At
                    </td>
                    <td class="value">
                        {{ convertTime(extractTime(order.createdAt)) }}
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        Items
                    </td>
                    <td class="value">
                        <span class="items" *ngFor="let item of order.selectedLineItems; let i = index;">
                            {{appendComma(item.variationData.name, i, order.selectedLineItems.length)}}
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<div class="navbar-space-bottom-position"></div>