.modifier {
  width: 65px;
  min-width: 65px;
  height: 65px;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #F2F0EF;
  border-radius: 5px;
  margin: 0px 9px;

  font-size: 12px;
  white-space: break-spaces;
  text-align: center;
  line-height: 1.2;
}

.on {
  border: 2px solid #49c9f2;
}
