 .radio-button-ripple {
   padding: 1px;
   border-radius: 50px;
 }

 .radio-button {
   transition: border-color ease 280ms;
   border-width: 2px;
   border-style: solid;
   border-radius: 50%;
   border-color: rgba(0, 0, 0, 0.54);
 }

 .selected-button {
   border-color: #49c9f2;
 }

 .inner-circle {
   width: 10px;
   height: 10px;
   transition: background-color ease-in-out 280ms;
   border-radius: 50px;
   margin: 2px;
 }

 .inner-selected {
   background-color: #49c9f2;
 }


 .disabled-inner {
   background-color: rgb(219, 219, 219);
 }

 .disabled {
   border-color: rgba(219, 219, 219);
   background-color: rgb(219, 219, 219);
 }
