

<app-header title="Stock" (searchQuery)="filter($event)" [canGoBack]="true"></app-header>
<app-segmented-control [choices]="['Items', 'Modifiers']" (selectionMade)="changeSelectedCatalogItemSearch($event)"></app-segmented-control>



<app-modifier-list-inventory *ngIf="selectedCatalogItemSearch == 'Modifiers' && filteredCatalog"
  [modifierListCatalog]="filteredCatalog.modifierLists" (stockChanged)="addToChangedModifierStock($event)">
</app-modifier-list-inventory>

<app-item-inventory *ngIf="selectedCatalogItemSearch == 'Items' && filteredCatalog"
  [itemCatalog]="filteredCatalog.itemsList" (stockChanged)="addToChangedItemStock($event)"></app-item-inventory>

<div id="fixed-space"></div>

<div class="bottom-actions">
  <button mat-raised-button id="save-changes" *ngIf="changedStock.items.size > 0 || changedStock.modifiers.size > 0"
    (click)="save()">
    <span *ngIf="!saving">
      Save Stock
    </span>
    <mat-spinner *ngIf="saving" diameter="30" style="margin: auto;" color="accent"></mat-spinner>
  </button>
</div>
