.header {
  text-align: center;
  padding: 15px;
  height: 20px;
}

#search-bar-image {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  align-items: center;
  padding: 0 5px 0 10px;
  display: flex;
  /* my lobger asked me to do some coding while he was gone
and I'm not too sure how I can contribute to this beep beep boop bop
but I do loves him and hope he can forgive me for my lack of input
so while I'm here I will say that I'm SO PROUD of how far you've come with this project
I love you and I'm so excited to see the finished product! You're doing so so so so so good my lover
now let me pretend to do something useful: beep beep bop boop beep
java each and everything git hub computer angular   */
}

.search-bar-container {
  height: 40px;
  display: flex;
  width: 85%;
  max-width: 400px;

}

#search-bar {
  border: none;
  font-family: 'Roboto';
  font-size: 1em;
  outline: none;
  width: 100%;
  padding-left: 3px;
  border-radius: 0;
  height: 100%;
}

#delete-search {
  display: flex;
  align-items: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  padding: 0 4px;
}

#delete-search .mat-icon {
  border-radius: 50px;
}


.catalog-segmented-control {
  margin-top: 50px;
  text-align: center;
}

.catalog-segmented-control .control {
  display: inline-block;
  width: 100px;
  border: 1.2px solid #007bff;
  padding: 5px;
  font-size: .95em;
  outline: none;
  transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out;
}

#items-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#modifiers-control {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.selected {
  background-color: #007bff;
  color: white;
}

.light-theme {
  background-color: #e1e2e4;
}

.dark-theme {
  background-color: #2b2b2b;
}


.bottom-actions {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

#save-changes {
  background-color: #007bff;
  color: white;
}

#fixed-space {
  height: 50px;
  min-height: 50px;
  width: 100%;
}
