<div class="bottom theme-navbar-border" id="mobile-navbar">
    <a class="link" routerLink="favorites">
        <mat-icon class="icon" routerLinkActive="active">home</mat-icon>
        <span class="text" routerLinkActive="active">Home</span>
    </a>
    <a class="link" routerLink="menu">
        <mat-icon class="icon" routerLinkActive="active">restaurant_menu</mat-icon>
        <span class="text" routerLinkActive="active">Menu</span>
    </a>
    <a class="link" routerLink="cart">
        <mat-icon class="icon" routerLinkActive="active">shopping_cart_outline</mat-icon>
        <span class="text" routerLinkActive="active">Cart</span>
    </a>

    <a class="link" routerLink="profile">
        <mat-icon class="icon" routerLinkActive="active">person</mat-icon>
        <span class="text" routerLinkActive="active">Profile</span>
    </a>
</div>