<div class="bottom navbar-background" id="mobile-navbar">
  <a class="link" routerLink="menu">
    <mat-icon class="icon" routerLinkActive="active">restaurant_menu</mat-icon>
    <span class="text" routerLinkActive="active">Menu</span>
  </a>
  <a class="link" routerLink="cart">
    <mat-icon
      class="icon"
      routerLinkActive="active"
      [matBadge]="badgeNumber"
      [matBadgeHidden]="badgeNumber == 0"
      matBadgePosition="above after"
      matBadgeColor="primary"
    >
      shopping_cart</mat-icon
    >
    <span class="text" routerLinkActive="active">Cart</span>
  </a>

  <a class="link" routerLink="account">
    <mat-icon class="icon" routerLinkActive="active">person</mat-icon>
    <span class="text" routerLinkActive="active">Account</span>
  </a>
</div>
