<div class="bottom" id="mobile-navbar">
    <a class="link active" matRipple matRippleColor="rgba(100, 100, 100, .3)" routerLink="favorites">
        <mat-icon class="icon">home</mat-icon>
        <span class="text">Home</span>
    </a>
    <a class="link active" matRipple matRippleColor="rgba(100, 100, 100, .3)" routerLink="menu"
        routerLinkActive="active">
        <mat-icon class="icon">restaurant_menu</mat-icon>
        <span class="text">Menu</span>
    </a>
    <a class="link active" matRipple matRippleColor="rgba(100, 100, 100, .3)" routerLink="cart">
        <mat-icon class="icon">shopping_cart_outline</mat-icon>
        <span class="text">Cart</span>
    </a>

    <a class="link active" matRipple matRippleColor="rgba(100, 100, 100, .3)" routerLink="profile">
        <mat-icon class="icon">person</mat-icon>
        <span class="text">Profile</span>
    </a>
</div>