.header {
  position: sticky;
  width: 100%;
  border-bottom: 1px solid#353535;
  margin-bottom: 20px;
}

#back-to-menu {
  color: #34a5f2;
  padding-left: 10px;
}

.action-group {
  border-bottom: 1px solid#353535;
  border-top: 1px solid#353535;
  margin: 20px 0px 0px 0px;
}

.action {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}
