
<app-header title="Users" (searchQuery)="filter($event)" [canGoBack]="true"></app-header>

<ng-container *ngIf="usersToDisplay">
  <div class="users">
  <ng-container *ngFor="let user of usersToDisplay" >

      <div class="user card-background" matRipple (click)="showUser(user)" [ngClass]="{'diffused-shadow': !darkThemeOn}">
        <div class="avatar"><img [src]="user.imageUrl"></div>

        <div class="text">

          <div class="name title-color"> {{ user.name }} </div>
          <div class="email subtitle-color"> {{ user.email }} </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
